
<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
<%= f.label :user_id, 'Select Users' %>
<%= f.collection_select :user_id, User.where(role: [0, 2]), :id, :email, multiple: true %>

  

  

  <button type="button" data-action="nested-form#remove">Remove User</button>

  <%= f.hidden_field :_destroy %>
</div>